<!DOCTYPE html>
<html>
<head>
    <title>Formulário de pessoa</title>
</head>
<body>
    <h1>Adicionar pessoa</h1>
    <form method="POST" action="/add">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome"><br><br>
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade"><br><br>
        <input type="submit" value="Adicionar">
    </form>
    <h1>Atualizar pessoa</h1>
    <form method="POST" action="/update">
        <label for="id">ID:</label>
        <input type="number" name="id" id="id"><br><br>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome"><br><br>
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade"><br><br>
          <input type="submit" value="Atualizar">
      </form>
      <h1>Remover pessoa</h1>
      <form method="POST" action="/delete">
          <label for="id">ID:</label>
          <input type="number" name="id" id="id"><br><br>
          <input type="submit" value="Remover">
      </form>
      <h1>Pessoas cadastradas</h1>
      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Idade</th>
              </tr>
          </thead>
          <tbody>
              {% for pessoa in pessoas %}
              <tr>
                  <td>{{ pessoa.id }}</td>
                  <td>{{ pessoa.nome }}</td>
                  <td>{{ pessoa.idade }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </body>
  </html>
